body {
    background-image: url("icons/optionsbg.png");
    background-size: 100%;
    margin: 1em;
}

#hold_key_description {
    margin-bottom: 10px;
}

input[name="target"], input[name="match_prefix"] {
    width: 300px;
}

input[name="hotkey"] {
    width: 50px;
}
