body {
    background-color: lightgrey;
}

#hold_key_description {
    margin-bottom: 10px;
}

input[name="target"], input[name="match_prefix"] {
    width: 30em;
}

input[name="hotkey"] {
    width: 3em;
}
