body {
    background-color: lightgrey;
    min-width: 750px;
}

#hold_key_description {
    margin-bottom: 10px;
}

#hotkey_entry {
    margin-bottom: 10px;
}

#hotkey_entry tr:first-child th {
    padding-bottom: 0.5em;
}

input[name="hotkey"] {
    width: 3em;
}

input[name="target"], input[name="match_prefix"] {
    width: 25em;
}

th.checkbox {
    /*
     * Allow the th text to occupy space from its neighbors.
     */
    display: inline-block;
    white-space: nowrap;
    width: 2em;
    margin-left: -5em;  /* Hardcoded for the particular th text. */
}

td.checkbox {
    text-align: center;
    width: 2em;
}
