#overlay {
    /*
     * Centering stuff from
     * https://css-tricks.com/considerations-styling-modal/.
     */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
     * Other styling.
     */
    display: none;
    background-color: rgba(50, 50, 50, 0.7);
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
    line-height: initial;
    font-size: initial;
    font-family: helvetica, sans-serif;
    /* 2 billion (yes, it's really necessary)
     * Current record-holder to beat: the menu and search bars on
     * www.youtube.com with z-index 1,999,999,999 */
    z-index: 2000000000;
}

#overlay > img {
    max-height: 128px;  /* Source image height is 128 */
    height: 5em !important;
    margin: 0;
    padding: 0;
    /*
     * For vertical centering of hotkey text
     */
    vertical-align: middle;
}

#overlay > span {
    font-size: 2em;
    color: white;
    /*
     * For vertical centering of hotkey text
     */
    vertical-align: middle;
}
