#overlay {
    /*
     * Centering stuff from
     * https://css-tricks.com/considerations-styling-modal/.
     */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
     * Other styling.
     */
    display: none;
    background-color: rgba(50, 50, 50, 0.7);
    box-sizing: content-box;
    margin: 0;
    padding: 10px;
    line-height: initial;
    font-size: initial;
    font-family: helvetica, sans-serif;
    z-index: 103;  /* > 102 necessary for google.com */
}

#overlay > img {
    max-height: 128px;  /* Source image height is 128 */
    height: 5em;
    /*
     * For vertical centering of hotkey text
     */
    vertical-align: middle;
}

#overlay > span {
    font-size: 2em;
    color: white;
    /*
     * For vertical centering of hotkey text
     */
    vertical-align: middle;
}
