body {
    box-sizing: border-box;
    background-color: white;
    min-width: 230px;
    margin:10% auto;
}

div {
    width:90%;
    margin: 5px auto;
    text-align: center;
}

footer {
    display:block;
    height: 30px;
    text-align: center;
}

h1 {
    font-weight: bold; 
    text-align: center;
    font-size: 25px;
    margin:0;
    color:#536DFE;
    display: block;
}

h4 {
    text-align: center;
    margin:0;
    padding:0;
}

label {
    text-align: center;
    margin:auto;
    display: inline-block;
}

table {
    display: inline-block;
    text-align: center
}

input [type=text] {
    width:10em;
    padding: 12px 12px;
    margin:auto;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 20 em;
    display: inline-block;
}

.url input[type=text] {
    border:2px;
    height: 20px;
    width: auto;
    margin: 0;
}

input[type=text]:focus {
    border: 2px solid #696969;
}

input[type=button] {
    border: none;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 8px 13px;
    margin:auto;
    display:inline-block;
}

input[type=button].save {
    background-color: #536DFE;
    color:white;
    margin-left: 5px;
    outline:none;
}

input[type=button].save: hover {
    background-color: white;
    border: 5px solid #536DFE;
    color:#536DFE;
}

#domain input[type=button] {
    background-color: white;
    border: none;
    padding: none;
    margin: none;
    text-decoration: underline;
}

#switch button {
    margin:auto;
    text-align: center;
    vertical-align: center;
    background-color: blue;
    border: 3px solid green;
}

#switch input:hover {
    background-color: #536DFE;
    color:white;
}

.save input[type=button]:visited {
    opacity:0.6;
}

input.invalid {
    background-color: pink;
}

.add input[type=button] {
    float:right;
}

.material-icons {
    display: inline-block;
    text-align: center;
    margin:auto;
    width:30px;
}

.url {
    text-align: center;
    border: none;
    background-color: white;
}

#hotkey {
    width: 5em;
}

.table #url {
    width: 20em;
}
