html {
    min-width: 400px;
}

#results tr.selected td {
    background-color: #cfe3e8;
}

.result-title {
    font-size: 1.2em;
    color: black;
    margin-bottom:0px;
}

.favicon {
    max-height: 1.2em;
    max-width: 1.2em;
    margin-right: 5px;
}
