#keeptabs_overlay #search_bar, #keeptabs_overlay #search_results {
    display: none;
}

#keeptabs_overlay #search_bar > label {
    vertical-align: middle;
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
}

#keeptabs_overlay #search_bar > input {
    vertical-align: middle;
}

#keeptabs_overlay #search_results {
    max-height: 80%;
    overflow: auto;
}

#keeptabs_overlay #search_results a {
    color: rgb(210, 230, 235);
}

#keeptabs_overlay #search_results a:hover {
    text-decoration: none;
    cursor: pointer;
}

#keeptabs_overlay #search_results td {
    padding: 1em;
}

#keeptabs_overlay #search_results p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

#keeptabs_overlay #search_results tr.selected td {
    background-color: rgb(39, 73, 93);
}

#keeptabs_overlay #search_results .result-title {
    color: white;
    font-size: 1.2em;
}

#keeptabs_overlay #search_results .favicon {
    max-height: 1em;
    max-width: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}
